/*
*
* Button
*
*/
@use "../abstracts" as *;
.btn {
  color: $color-white;
  background-color: $btn-primary;
  transition: $transition-duration ease;
  border-radius: px-to-rem($radius-10);
  cursor: pointer;
  border: none;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &--xl {
    text-align: center;
    border-radius: $radius-999;
    padding: px-to-rem(12px) px-to-rem(32px);
  }

  &--xs {
    padding: px-to-rem(12px) px-to-rem(16px);
  }

  &--s {
    padding: px-to-rem(16px) px-to-rem(24px);
  }

  &--m {
    padding: px-to-rem(16px) px-to-rem(32px);
  }

  &:hover {
    background-color: $btn-hover;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: $box-shadow-btn;
  }
}
