/*
*
* Button
*
*/
@use "../abstracts/functions" as Function;
@use "../abstracts/variables" as Variable;

.btn {
  color: Variable.$color-white;
  background-color: Variable.$btn-primary;
  transition: Variable.$transition-duration ease;
  border-radius: Function.px-to-rem(Variable.$radius-10);
  cursor: pointer;
  border: none;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &--xs {
    padding: Function.px-to-rem(12px) Function.px-to-rem(16px);
  }

  &--s {
    padding: Function.px-to-rem(16px) Function.px-to-rem(24px);
  }

  &--m {
    padding: Function.px-to-rem(16px) Function.px-to-rem(32px);
  }

  &:hover {
    background-color: Variable.$btn-hover;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px Variable.$background, 0 0 0 5px Variable.$btn-primary;
  }
}
