/*
*
* Features 
*
*/
@use "../abstracts" as *;
.features {
  width: 100%;
  display: flex;
  gap: px-to-rem($spacing-400);
  flex-wrap: wrap;

  @include breakpoint(lg) {
    flex-direction: column;
  }

  @include breakpoint(sm) {
    gap: px-to-rem($spacing-300);
  }

  &__item {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: px-to-rem($spacing-300);

    @include breakpoint(sm) {
      gap: px-to-rem($spacing-150);
    }
  }

  &__icon {
    display: grid;
    place-items: center;
    width: px-to-rem($icon-width);
    height: px-to-rem($icon-height);
    background-color: $color-white;
    border-radius: px-to-rem($radius-12);
    border: 1px solid $color-neutral-200;
    box-shadow: $box-shadow-icon;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: px-to-rem($spacing-150);
  }
}
