/*
*
* Features 
*
*/
@use "../abstracts/functions" as Function;
@use "../abstracts/variables" as Variable;

.features {
  width: 100%;
  display: flex;
  gap: Function.px-to-rem(Variable.$spacing-400);
  flex-wrap: wrap;

  &__item {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: Function.px-to-rem(Variable.$spacing-300);
  }

  &__icon {
    display: grid;
    place-items: center;
    width: Function.px-to-rem(Variable.$icon-width);
    height: Function.px-to-rem(Variable.$icon-height);
    background-color: Variable.$color-white;
    border-radius: Function.px-to-rem(Variable.$radius-12);
    border: 1px solid Variable.$color-neutral-200;
    box-shadow: 0 1px 0 0 Variable.$color-neutral-200;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: Function.px-to-rem(Variable.$spacing-150);
  }
}
