/*
*
* Filter-bar
*
*/
@use "../abstracts" as *;
.filter-bar {
  display: flex;
  justify-content: space-between;

  @include breakpoint(md-lg) {
    flex-direction: column;
  }

  &__filters {
    display: flex;
    gap: px-to-rem($spacing-200);

    @include breakpoint(md-lg) {
      flex-direction: column;
    }
  }

  &__group {
    position: relative;
  }
}
