/*
*
* Filter-bar
*
*/
@use "../abstracts" as *;
.filter-bar {
  display: flex;
  justify-content: space-between;

  &__filters {
    display: flex;
    gap: px-to-rem($spacing-200);
  }

  &__group {
    position: relative;
  }
}
