/*
*
* Form-menu
*
*/
@use "../abstracts" as *;
.form-menu {
  list-style: none;
  position: absolute;
  padding: px-to-rem($spacing-100);
  border-radius: px-to-rem($radius-8);
  background-color: $color-white;
  width: calc(100% + px-to-rem(50px));

  top: calc(100% + px-to-rem(10px));

  display: none;
  flex-direction: column;

  border: 1px solid $color-neutral-300;

  &--active {
    display: flex;
  }

  &__input {
    appearance: none;
    -webkit-appearance: none;
    width: px-to-rem(16px);
    height: px-to-rem(16px);
    cursor: pointer;

    border-radius: 50%;

    border: 1px solid $color-neutral-400;
    box-shadow: $box-shadow-radio-input;

    position: relative;
    transition: all $transition-duration ease;

    &::before {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 70%;
      height: 70%;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
      transition: all $transition-duration-long ease;
    }

    &:checked {
      box-shadow: none;
      border: 2px solid $color-neutral-800;
      &::before {
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
    }

    &:focus-visible:checked {
      border: 2px solid $color-primary;
      box-shadow: $box-shadow-radio-focus;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: px-to-rem($spacing-100);
    padding: px-to-rem($spacing-100);
    border-radius: px-to-rem($spacing-100);
    transition: all $transition-duration ease;
    cursor: pointer;

    &:hover {
      .form-menu__input:not(:checked) {
        border: 1px solid $color-neutral-200;
      }

      .form-menu__input:checked {
        &::before {
          background-color: $color-neutral-800;
        }
        border: 2px solid $color-neutral-800;
      }
    }

    &:has(.form-menu__input:focus-visible) {
      box-shadow: $box-shadow-focus;
    }
  }

  &__clear {
    margin-top: px-to-rem($spacing-100);
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: px-to-rem($radius-8);
    padding: px-to-rem($spacing-025) px-to-rem($spacing-100);

    width: 100%;
    text-align: left;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }
}
