/*
*
* Form-button
*
*/
@use "../abstracts" as *;
.form-button {
  display: flex;
  align-items: center;
  gap: px-to-rem($spacing-100);

  cursor: pointer;

  background: $color-white;

  border-radius: px-to-rem($radius-10);
  padding: px-to-rem(10px) px-to-rem(16px);

  border: 1px solid $color-neutral-300;

  transition: all $transition-duration ease;

  color: $color-primary;

  @include breakpoint(lg) {
    width: max-content;
  }

  @include breakpoint(md-lg) {
    justify-content: space-between;
    width: 100%;
  }

  &--selected,
  &:hover {
    border: 1px solid $color-primary;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: $box-shadow-focus;
    border: 1px solid $color-neutral-300;
  }

  &__icon {
    width: 1em;
    height: 1em;
  }
}
