/*
*
* List
*
*/
@use "../abstracts" as *;
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: px-to-rem($spacing-600);

  margin-left: px-to-rem(50px);

  &--sm {
    gap: px-to-rem($spacing-100);
    margin-left: px-to-rem(35px);

    .list__item {
      & > :first-child {
        &::before {
          width: px-to-rem(24px);
          height: px-to-rem(24px);
          left: px-to-rem(35px) * -1;
          top: 3px;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: $spacing-150;

    & > :first-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: px-to-rem(50px) * -1;
        background: url("../../assets/images/icon-bullet-point.svg") no-repeat
          top;
        background-size: contain;
        width: px-to-rem(32px);
        height: px-to-rem(32px);
      }
    }
  }
}
