/*
*
* List
*
*/
@use "../abstracts/functions" as Function;
@use "../abstracts/variables" as Variable;

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: Variable.$spacing-600;

  margin-left: Function.px-to-rem(50px);

  &__item {
    display: flex;
    flex-direction: column;
    gap: Variable.$spacing-150;

    & > :first-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: Function.px-to-rem(50px) * -1;
        background: url("../../assets/images/icon-bullet-point.svg") no-repeat
          center;
        width: Function.px-to-rem(32px);
        height: Function.px-to-rem(32px);
      }
    }
  }
}
