/*
*
* Loader
*
*/
@use "../abstracts" as *;

.loader {
  position: fixed;
  display: none;

  height: 100vh;
  width: 100vw;

  z-index: 1000;

  background-color: $color-neutral-200;

  &--active {
    display: grid;
    place-items: center;
  }
}
