/*
*
* Navigation
*
*/
@use "../abstracts" as *;
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: px-to-rem(20px) px-to-rem(60px);

  border-bottom: 1px solid $color-neutral-300;

  position: relative;

  background-color: $background;

  & > :nth-child(3) {
    @include breakpoint(lg) {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: px-to-rem(40px);

    // Center navigation
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint(lg) {
      display: none;
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: inherit;

    &--active::before,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 3px;
      opacity: 0;
      background-color: $color-secondary;
      transition: all $transition-duration ease;
    }

    &--active::before,
    &:hover::before {
      bottom: -3px;
      opacity: 1;
    }
  }
}
