/*
*
* Variables
*
*/

// === Colors ===
// Neutral pallete
$color-neutral-900: #163a34;
$color-neutral-800: #395852;
$color-neutral-400: #d0dcd9;
$color-neutral-300: #e0e6e3;
$color-neutral-200: #e9ede8;
$color-neutral-100: #f6f5f1;
$color-neutral-0: #fff;

// Orange pallete
$color-orange: #fe9f6b;

// Teal pallete
$color-teal: #49ac9b;

// Indigo pallete
$color-indigo: #697ddb;

// Semantic linking
$color-primary: $color-neutral-900;
$color-secondary: $color-orange;
$color-tertiary: $color-indigo;
$color-white: $color-neutral-0;

$background: $color-neutral-100;

$btn-primary: $color-neutral-900;
$btn-hover: $color-neutral-800;

$text-primary: $color-neutral-900;
$text-secondary: $color-neutral-800;
$text-tertiary: $color-neutral-0;

// === Font ===

// Base font settings
$font-size-base: 16px;
$font-name: "Nunito", sans-serif;

// Font weights
$font-extrabold: 800;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;

// === Radius ===
$radius-999: 999px;
$radius-16: 16px;
$radius-12: 12px;
$radius-10: 10px;
$radius-8: 8px;
$radius-6: 6px;
$radius-4: 4px;

// === Transition ===

// Duration
$transition-duration: 0.2s;
$transition-duration-long: 0.4s;

// === Magins and paddings ===

// Gaps
$spacing-1200: 96px;
$spacing-1000: 80px;
$spacing-800: 64px;
$spacing-600: 48px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;
$spacing-025: 2px;

// === Container max width ===
$container-max-width: 1192px;

// === Icons Size ====
$icon-width: 60px;
$icon-height: 60px;
