/*
*
* Utilities
*
*/
@use "../abstracts/functions" as Function;
@use "../abstracts/variables" as Variable;

.u-text-center {
  text-align: center;
}

.u-underline {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: Variable.$color-secondary;
    z-index: -1;
    bottom: 10%;
    opacity: 0.5;
    border-radius: Variable.$radius-4;
  }
  &--solid {
    &::before {
      opacity: 1;
    }
  }
}

.u-max-chars-40 {
  max-width: 40ch;
}
.u-max-chars-60 {
  max-width: 60ch;
}

.u-self-start {
  align-self: start;
}

.u-default-list {
  margin-left: 20px;
}

.u-section-divider {
  border-bottom: 1px solid Variable.$color-neutral-300;
}
