/*
*
* About Page
*
*/
@use "../abstracts" as *;
.hero--about {
  border-bottom: 1px solid $color-neutral-300;
  padding-bottom: $spacing-1200;

  @include breakpoint(lg) {
    padding-bottom: $spacing-1000;
  }

  @include breakpoint(sm) {
    padding-bottom: $spacing-800;
  }

  .hero__content {
    display: flex;
    align-items: center;
    gap: $spacing-800;

    @include breakpoint(lg) {
      flex-direction: column;
    }
  }

  .hero__main {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $spacing-300;
    flex: 0 1 45%;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    gap: $spacing-200;
  }

  .hero__image {
    flex: 1;
    border-radius: $radius-10;

    position: relative;

    picture {
      aspect-ratio: 1;
      overflow: hidden;
      border-radius: $radius-10;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: 120%;
      background: url("../../assets/images/pattern-squiggle-2.svg") no-repeat
        100% 70%;

      @include breakpoint(xlg) {
        width: 0;
        height: 0;
        background: none;
      }
    }
  }
}
