/*
*
* Home Page
*
*/
@use "../abstracts" as *;
.hero--home {
  background-image: url("../../assets/images/pattern-squiggle-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include breakpoint(lg) {
    background-size: contain;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem($spacing-500);

    @include breakpoint(md) {
      align-items: start;
      gap: px-to-rem($spacing-400);
    }
  }

  .hero__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem($spacing-150);

    @include breakpoint(md) {
      align-items: start;
      gap: px-to-rem($spacing-200);
    }
  }

  .hero__image {
    margin-top: px-to-rem($spacing-500);
    border-radius: $radius-10;
    box-shadow: $box-shadow-hero-img;
    overflow: hidden;

    picture {
      width: 100%;
      aspect-ratio: 16/8;

      @include breakpoint(md) {
        aspect-ratio: 4/3;
      }
    }

    @include breakpoint(lg) {
      box-shadow: $box-shadow-hero-img-lg;
    }

    @include breakpoint(sm) {
      box-shadow: $box-shadow-hero-img-sm;
    }
  }
}
