/*
*
* Typography 
*
*/

@use "../abstracts" as *;
body {
  font-family: $font-name;
  font-size: px-to-rem(20px);
  font-weight: $font-medium;
  color: $text-primary;
  letter-spacing: -0.4px;
  line-height: 150%;
}

// Text presets
.text-preset-1 {
  font-size: px-to-rem(72px);
  line-height: 110%;
  letter-spacing: -2px;
  font-weight: $font-extrabold;
}

.text-preset-2 {
  font-size: px-to-rem(48px);
  line-height: 120%;
  letter-spacing: -2px;
  font-weight: $font-extrabold;
}

.text-preset-3 {
  font-size: px-to-rem(32px);
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: $font-bold;
}

.text-preset-4 {
  font-size: px-to-rem(24px);
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: $font-bold;
}

.text-preset-5 {
  // Inherited from text-preset - 6 which is default on body.
  font-size: inherit;
  line-height: 140%;
  letter-spacing: -0.4px;
  font-weight: $font-bold;
}

// .text-preset-6 - default on body
.text-preset-6 {
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

// Line heights inherited from body
.text-preset-7 {
  font-size: px-to-rem(18px);
  letter-spacing: -0.3px;
  font-weight: $font-semibold;
}

.text-preset-8 {
  font-size: px-to-rem(16px);
  letter-spacing: -0.3px;
  font-weight: $font-bold;
}

.text-preset-9 {
  font-size: px-to-rem(16px);
  letter-spacing: -0.3px;
  font-weight: $font-medium;
}

.text-preset-10 {
  font-size: px-to-rem(14px);
  letter-spacing: -0.3px;
  font-weight: $font-bold;
}
